/* General Styles */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  padding: 20px;
}

h1, h2 {
  color: #333;
}

/* Navbar Styles */
.navbar {
  background-color: #333;
  color: white;
  padding: 15px;
  text-align: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  margin: 0 20px;
  text-transform: uppercase;
}

.navbar a:hover {
  color: #feb47b;
}

/* Main Page Styles */
.main-page {
  background: linear-gradient(120deg, #ff7e5f, #feb47b);
  text-align: center;
  padding: 100px 20px;
  color: white;
}

.main-page h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.main-page p {
  font-size: 18px;
  line-height: 1.6;
}

.main-page button {
  padding: 10px 20px;
  background-color: #333;
  color: white;
  font-size: 18px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.main-page button:hover {
  background-color: #feb47b;
}

/* Footer Styles */
footer {
  text-align: center;
  padding: 20px;
  background-color: #333;
  color: white;
}

footer p {
  margin-bottom: 10px;
}

footer a {
  color: #feb47b;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}
